:root{
  --primary:#06a1cc;
  --secondary:white;
}
@keyframes example {
  0%   {color: #01607a;}
  25%  {color: #023e4e;}
  50%  {color:#36aecf}
  100% {color:#4eabc5;}
}

html{
  font-size: 10px;
  background: black; 
}

/***********Nav*************/
.navigation-bar {
  width: 100vw; 
  height: 10rem;
  text-align: center;
  margin-top: 2rem;
}
.nav-item{
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  font-size: 3rem;
  margin-right: 2rem;

}
.activenav{
  color: var(--secondary);
}



/*********login page************/
.logh2{
  font-size: 4rem;
  color: var(--primary);
  text-align: center;
}

.login{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid var(--primary);
  padding: 5rem;
}
.login-form input{
  margin: 1.5rem;
  width: 15vw;
  height: 5rem;
  border-radius: 3rem;
  border: none;
  padding: 0.6rem 0 0.6rem 1.5rem;
  font-size: 1.8rem;
  background-color: black;
  box-shadow: 0 0.2rem 0.5rem 0 var(--primary);
  color: var(--secondary);

}
.login-form p{
  font-size: 1.8rem;
  color: var(--secondary);
}

.login-form button{
  margin: 1.5rem;
  width: 8vw;
  height: 5rem;
  border-radius: 3rem;
  border: none;
  padding: 0.6rem 0 0.6rem 0;
  font-size: 1.8rem;
  background-color: black;
  box-shadow: 0 0.2rem 0.5rem 0 var(--primary);
  color: var(--secondary);
}
.login-form button:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.logPara{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sp{
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
#sp:hover{
  cursor: pointer;
  transform: scale(1.2);
}

/**********Homepage************/
.note-wrapper{
  display: flex;
 justify-content: space-around;
 flex-wrap: wrap;
}

.card {
  box-shadow: 0 0.2rem 0.4rem 0 var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
  height: 40rem;
  width: 40rem;
  padding: 2rem;
  position: relative;
  margin-top: 3rem;
  }

  .card h1{
    font-size: 3rem;
    align-self: center;
  }
 
  .notecontent{
    width: 39.5rem;
   height: 30rem;
   background: transparent;
   border: 2rem var(--primary);
    font-size: 2rem;
    color: var(--secondary);
    box-shadow: 0 0.2rem 0.5rem 0 var(--primary);
    padding: 1rem;
  }

  .footernote{
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }
  .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0.4rem;
    font-size: 1.5rem;
  }
.noteedit{
  margin-left: auto;
  align-self: flex-end;
  padding: 0.4rem;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
.close{
  position: absolute;
  right: 0;
  top:1rem;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  color: var(--primary);
}
.close:hover{
  cursor: pointer;
  color:var(--secondary)
}
.editcl{
  color: var(--primary);
  text-decoration: none;
}
.editcl:hover{
  color:var(--secondary)
}
/*****************/

.createnote{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createnoteform{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0.2rem 0.4rem 0 var(--primary);
  color: var(--primary);
  height: 40rem;
  width: 40rem;
  padding: 2rem;
  margin-top: 3rem;
}
.createnoteform input,button,textarea{
  margin: 0.4rem;
  border-radius: 2rem;
  padding: 2rem;
  border: none;
  font-size: 1.8rem;
  background-color: black;
  box-shadow: 0 0.2rem 0.5rem 0 var(--primary);
  color: var(--secondary);
  height: 8rem;
}
.createnoteform textarea{
  height: 60rem;
}
.datecreate input{
  width: 16rem;
  margin-top: 1.2rem;
  padding: 1rem;
  height: 2rem;  
}
.createnoteform button{
  width: 10rem;
  height: 5rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.createnoteform button:hover{
  cursor: pointer;
}



@media(max-width:768px){
  html{
    font-size: 6px;
  }
}